/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background:cadetblue;
}

.page-header h2 {
    position: relative;
    color: #343148;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #343148;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #343148;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}
/* pagination start*/
.blog .pagination .page-link {
    color: #343148;
    border-radius: 0;
    border-color: #343148;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: white;
    background: #343148;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.blog .blog-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}

.blog .blog-item {
    position: relative;
    margin: 0 15px;
}

.blog .blog-page .blog-item {
    margin: 0 0 30px 0;
}

.blog .blog-img {
    position: relative;
    width: 100%;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-text {
    position: relative;
    padding: 25px 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.blog .blog-text h2 {
    font-size: 22px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #343148;
    transition: .3s;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-item a.btn:hover {
    color: #62c6f8;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.blog .blog-meta i {
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}

.blog .owl-nav {
    width: 150px;
    margin: 32px auto 0 auto;
    display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
    margin-left: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7CAC9;
    background: #343148;
    font-size: 22px;
    transition: .3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
    color: white;
    background: #F7CAC9;
}


