body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=========Top bar======*/
#topbar{
    background:cornsilk;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}
#topbar .contact-info a{
    line-height: 1;
    color:#444;
    transition: 0.3s;
}
#topbar .contact-info a:hover{
    color:#01b1d7;
}
#topbar .contact-info i{
    color:#01b1d7;
    padding: 4px;
}
#topbar .contact-info .phone-icon{
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #010631!important;
}
#topbar .social-links a{
    color: #01b1d7;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1;
    transition: 0.3s;
    border-left: 1px solid #010631;
}
#topbar .social-links a:hover{
    color: #01b1d7;
}
#topbar .social-links a:first-child{
    border-left: 0;
}
@media (max-width: 576px){
    #topbar{
        
                font-size: 8px;
            }
        }
        
    }
}

/*========End of Top bar=========*/

/*=======Navbar===========*/
.bg-color{
    background: #2ae4ee;
}
.nav-link{
    color: #000;
}

.nav-item a:hover{
  
   color: #3ca0e7;
    transition: all 0.5s ease;
    font-weight: bold;

}
.navbar-brand {
    color: #051725!important;
    font-weight: bold;
    font-size: 31px;
    font-family: "Poppins", sans-serif;
   letter-spacing: 3px;
}
.sticky-top.scrolled {
    background-color:whitesmoke !important;
    box-shadow: 0px 0px 5px 0px black;
    scroll-behavior: smooth;
    transition: background-color 200ms linear;
  }
  
  .sticky-top.scrolled .nav-link {
    color:black;
  }
  .sticky-top.scrolled .nav-link:hover{
    color:#3ca0e7;
  }
/*=======End of the Navbar===========*/



/* Footer Section :start */
/*============*/
footer{
    padding: 50px 0 0;
}
footer .widget{
    margin-bottom: 30px;
}
footer .widget h5{
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sub-footer{
    margin-top: 30px;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 30px 0 10px;
}
.sub-footer a{
    color: #444;
}
footer .sub-footer p{
    font-size: 14px;
}
.widget ul{
    list-style:none;
    margin-left: 0;
    padding-left: 0;

}
.social-network{
    margin-left:0;
    padding-left:0;
    margin-top: 10px;
    text-align: left;
    list-style: none;
}
.social-network li{
    margin:0;
    padding:0;
    display: inline-block;
}
.social-network a{
    margin: 0 2px 0 0;
}
.social-network a:hover{
    color: #fff;
}
.social-network a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    transition:  .3s ease-in-out;
    text-align: center;
    border-radius: 3px;
    padding: 0;
}
.social-network .social-facebook a i{
    background:#62c6f8 ;
}
.social-network .social-twitter a i{
    background: #62c6f8;
}
.social-network .social-instagram a i{
    background: #62c6f8;
}
/* Footer end */
