/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background-color: floralwhite;
}

.contact .container {
    max-width: 900px;
}

.contact .contact-item {
    text-align: center;
    margin-bottom: 30px;
}

.contact .contact-item i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    font-size: 25px;
    color: #343148;
    margin-bottom: 15px;
    border: 1px solid#0399f0;
    border-radius: 50px;
}

.contact .contact-item h2 {
    font-size: 25px;
    font-weight: 700;
}

.contact .contact-form {
    position: relative;
}

.contact .contact-form input {
    height: 45px;
    padding: 15px;
    background: none;
    border-radius: 0;
}

.contact .contact-form textarea {
    height: 150px;
    padding: 15px;
    background: none;
    border-radius: 0;
}

.contact .contact-form .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background: #0399f0;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    text-decoration: underline;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

