/*******************************/
/********** Class CSS **********/
/*******************************/
.class {
    position: relative;
    padding: 45px 0 15px 0;
    background-color: floralwhite;
}

.class #class-filter {
    padding: 0;
    margin: 5px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.class #class-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    color: #343148;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    background: none;

    transition: .3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
    background: #0399f0;
    color: white;
}

.class .class-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
}

.class .class-wrap {
    position: relative;
    width: 100%;
}

.class .class-img {
    position: relative;
}

.class .class-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.class .class-text {
    position: relative;
    padding: 30px 30px 25px 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}

.class .class-text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.class .class-teacher {
    position: relative;
    height: 40px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
}

.class .class-teacher img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #F7CAC9;
}

.class .class-teacher h3 {
    width: calc(100% - 95px);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.class .class-teacher a {
    width: 40px;
    height: 40px;
    padding: 0 0 3px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
    color: #343148;
    background: #F7CAC9;
    border-radius: 40px;
    transition: .3s;
}

.class .class-wrap:hover .class-teacher a {
    color: #F7CAC9;
    background: #343148;
}

.class .class-meta {
    position: relative;
    display: flex;
    align-items: center;
}

.class .class-meta p {
    margin: 0;
    font-size: 14px;
}

.class .class-meta p i {
    margin-right: 5px;
    color: #343148;
}

.class .class-meta p:first-child {
    margin-right: 10px;
}
