body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*=======Hero Section===========*/
 
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-weight: 900;
}
.carousel-caption p{
    font-size: 18px;
    margin: auto;
    width: 60%;
    line-height: 1.9;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #0399f0 !important;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    margin-top: 15px;
    border-radius: 50px;
    
}


 .slide-1,
.slide-2,
.slide-3{
    min-height: 92vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
}
.slide-1{
 background: url('../image/2.jpg') ;
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
}
.slide-2{
    background: url(../image/3.jpg) center /cover fixed no-repeat;
   }

   .slide-3{
    background: url(../image/6.jpg) center /cover fixed no-repeat;
   }
.no-padding{
    padding:0;
}  
@media only screen and (max-width: 500px) {
    .carousel-caption h5 {
        font-size: 31px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-weight: bold;
    }
    .carousel-caption p {
        font-size: 8px;
        margin: auto auto;
        width: 80%;

    }
}
/*=======End of the Hero Section===========*/
/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
}

.section-header p::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 11px;
    right: -30px;
    left: -30px;
    background :#0399f0;
    z-index: -1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #F7CAC9;
    background: #343148;
    border-radius: 0;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #343148;
    background: #F7CAC9;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .07);
    transition: .3s;
}

.service .service-item:hover,
.service .service-item.active {
  
    background: #0874bd;
    color: #ffffff;
    opacity: 0.8;
    color: #ffffff;
}

.service .service-icon {
    position: relative;
    margin: 0 auto 25px auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service .service-icon i {
    position: relative;
    font-size: 50px;
    color: #343148;
    z-index: 3;
}

.service .service-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7CAC9;
    border-radius: 50%;
    animation: pulse-border 2000ms ease-out infinite;
}
.service wow{
    animation-delay: 0.1s;
    animation-name: fadeInUp;
}

.service .service-icon:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: papayawhip;
    border-radius: 50%;
    transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}


.service .service-item p {
    margin: 0;
    font-size: 16px;
}






/*===========Services Section=========*/
.section-bg{
    background: #abd2f736;
}
.services  .rounded-circle{
 
 position: relative;
 overflow: hidden;
 border-radius: 10px;
 margin: 0 10px 40px 10px;
 
 box-shadow: 0 10px 29px 0 rgba(6, 1, 48, 0.5); 
 transition: all 0.3s ease-in-out;
}
.circular--square {
    width: 300px;
    height: 300px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }
.services .icon-box:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
}


.services .title{
    margin-left: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .title a{
    color: #111;
}
.services .icon-box:hover .title a{
    color: #49b5e7;
}
.services .description{
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}
/*======End of Service Section=======*/
.price-item{
    text-align: center;
    background: #fff;
    padding-bottom: 40px;
    margin: 15px 0;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0 10px 29px 0 rgba(6, 1, 48, 0.5); 
    transition: all 0.4s;
}
.price-item:hover{
    box-shadow: 0 10px 29px 0 rgba(83, 210, 245, 0.7); 
}
.price-item .price-top{
    height: 156px;
    padding-top: 26px;
}
.price-item .price-top h4{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.price-item .price-sec{
    width: 144px;
    height: 144px;
    margin: -71px auto 30px;
    padding-top: 35px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 5px 6px rgba(6,1,48,0.5);
}
.price-item .price-sec h3{
    font-size: 40px;
    font-weight: 600;
    color: #666;
}
.price-item .price-sec p{
    text-transform: uppercase;
    color: #999;
}
.price-item ul{
    list-style: none;
    margin-bottom: 20px;
}
.price-item ul li{
    font-size: 16px;
    color: #666;
    margin: 12px;
}
.price-item.beginner .price-top{
    background-color: #09aef0;
}
.price-item.intermediate .price-top{
    background-color: #41baeb;
}
.price-item.advanced .price-top{
    background-color: #05c8eb;
}
.price-item.professional .price-top{
    background-color: #0399f0;
}
/*===End of the Pricing===*/
.gallery{
    backface-visibility: hidden;
    transition: all .4s;
}
.img-thumbnail {
    padding: .25rem;
   background-color: transparent;
    border-radius: .25rem;
    max-width: 100%;
  border: none !important;
    height: 273px !important;
    width: 300px !important;
}
.gallery:hover{
    transform:scale(1.05);
}
/*====End of Gallery===*/
/*===Faq Section===*/
.section-title {
	text-align: center;
	margin-bottom: 55px;
}
.faq .faq-list {
	padding: 1px 100px;
  }
  
  .faq .faq-list ul {
	padding: 0;
	list-style: none;
  }
  
  .faq .faq-list li + li {
	margin-top: 15px;
  }
  
  .faq .faq-list li {
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	position: relative;
  }
  
  .faq .faq-list a {
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 0 30px;
	outline: none;
  }
  
  .faq .faq-list .icon-help {
	font-size: 24px;
	position: absolute;
	right: 0;
	left: 20px;
	color: #021235;
  }
  
  .faq .faq-list .icon-show, .faq .faq-list .icon-close {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 0;
  }
  
  .faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
	display: none;
  }
  
  .faq .faq-list a.collapsed {
	color: #00162c;
  }
  
  .faq .faq-list a.collapsed:hover {
	color: #0874bd;
  }
  
  .faq .faq-list a.collapsed .icon-show {
	display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
	display: none;
  }
  
  @media (max-width: 1200px) {
	.faq .faq-list {
	  padding: 1px;
	}
  }
